.content {
  display: flex;
  justify-content: space-evenly;
  background: #ffffff;
  z-index: 99;
  margin-top: 6em;
  padding-bottom: 4em;
}

.sizing {
  width: 30%;
  height: 10vh;
  justify-self: center;
  align-content: center;
}

a {
  color: gray;
}