<div class="sizing">
    <p>Login</p>
    <p class="red">{{error()?.message}}</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            @if (form.get('name')?.hasError('required')) {<mat-error>This field is required.</mat-error>}
            @else if (form.get('name')?.hasError('maxlength')) {<mat-error>Maximum length is 32 characters.</mat-error>}
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            @if (form.get('pass')?.hasError('required')) {<mat-error>This field is required.</mat-error>}
            @else if (form.get('pass')?.hasError('maxlength')) {<mat-error>Maximum length is 64 characters.</mat-error>}
            <input matInput formControlName="pass" type=password>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
    </form>
</div>
<app-links></app-links>